.containerLogin{
    height: 100vh;
    background-color: #E6EAE7;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: IBM Plex Sans Thai;
}

.buttonEmail{
    text-align: -webkit-center;
       
}

.buttonEntrar >a{
    width: 50%;
    padding: 5px;
    background-color: #607EA2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #607EA2;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;    
    font-family: IBM Plex Sans Thai;
    font-size: 18px;
}

.buttonSign >a{
    width: 50%;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    text-decoration: none;
    color: black;   
    font-size: 18px;
}

.buttonEntrar>a>img{
    margin-left: 20px;
    width: 10%;
    
}

.buttonSign>a>img{
    margin-left: 75px;
    width: 10%;
}

.imageLogin >img{
    width: 80%;
    transform: rotate(345deg);
}

.novoUsuario>p{
    color: black;
}





