/*************** ABOUT ****************/
#what-coding {
    background: white;
  }
  #what-coding .container {
    margin: 0;
  }

  #bloco-left{
    width: 100px;
    margin-left:100px;
  }

  /* #what-coding .image {
    position: relative;
  }
  #what-coding .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
  }
  #what-coding .image img {
    position: relative;
  }
  #about .image img,
  #about .image::before {
    border-radius: 0.25rem;
  }
  */

  #bloco-left .text {
    margin-left: -30.5rem;
    margin-right: -3.5rem;
  }
  #bloco-right .text {
    margin-left:40rem;
  }
  
  /***** MEDIA QUERIES *****/
  /*extra large devices: 1200 >*/
  @media(min-width: 1200px){
    .container {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }
    .section {
      padding: 10rem 0;
    }
    .section header{
      max-width: 40rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .button {
      height: 3.125rem;
    }
    /*About*/
    #what-coding .container {
      margin: 0 auto;
      justify-content: space-between;
      grid-auto-flow: column;
      align-items: center;
    }
  }
  
  /*large devices:1023 >*/
  @media(min-width: 1023px){
    :root {
      --title-font-size: 2.25rem;
      --subtitle-font-size: 1.125rem;
    }
    /*About*/
    #what-coding .container {
      margin: 0 auto;
      justify-content: space-between;
      grid-auto-flow: column;
      align-items: center;
    }
  }
  
  /*large devices: 992 >*/
  @media(min-width: 992px){
    :root {
      --title-font-size: 2.25rem;
      --subtitle-font-size: 1.125rem;
    }
  }
  
  /*Mediun devices 767 >*/
  @media(min-width: 767px){
    /*About*/
    #what-coding .container {
      margin: 0 auto;
      justify-content: space-between;
      grid-auto-flow: column;
      align-items: center;
    }
  }
  
  
  /*************** VOLTAR AO TOPO ****************/
  /*
  .back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
  
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    
    padding: 0.5rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
  
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
  }
  
  .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  */