

/*************** VOLTAR AO TOPO ****************/
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;
  
  padding: 0.5rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}



.title {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: var(--title-fonts);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.title p{
  font-family: 'DM Sans', sans-serif;
}
.cards.grid {
  gap: 1.5rem;
}
.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}
.card i {
  display: block;
  /*margin-bottom: 1.5rem;*/
  font-size: 5rem;
  color: var(--base-color);
}
.card i img {
  width: 30%;
}
.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/***** MEDIA QUERIES *****/
/*extra large devices: 1200 >*/
@media(min-width: 1200px){
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section header{
    max-width: 40rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    height: 3.125rem;
  }
  /*Passo a passo*/
  .title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: var(--title-fonts);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }  
}

/*large devices:1023 >*/
@media(min-width: 1023px){
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }  
  /*Passo a passo*/
  .title {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: var(--title-fonts);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
  }
  .section header {
    text-align: center;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*large devices: 992 >*/
@media(min-width: 992px){
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }  
  
}

/*Mediun devices 767 >*/
@media(min-width: 767px){
 
  /*Passo a passo*/
  .section header {
    text-align: center;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
