
#all h2{
  padding-left: 1.25rem;
}

#sidemenu {
  height: 100%;
  background: #fff;
  border: 1px solid var(--body-color);
  border-radius: .5rem;
  padding: 1.25rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
#sidemenu li{
  margin-bottom: 0.625rem;
}
#sidemenu li a:hover{
  color: var(--base-color);
  font-weight: 600;
}
#sidemenu li a.active{
  color: var(--base-color);
  font-weight: 600;
}
.meaning{
  background: #fff;
  padding: 1.25rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0 0.5rem 0.5rem 0.5rem; 
  margin-bottom: 1.25rem;
}

.link {
  color: var(--base-color);
}

details{
  margin-top: 1.25rem;
}
details p{
  padding-top: 1.25rem;
}
details p span{
  color: var(--base-color);
  font-weight: 500;
}
#example{
  border: 1px solid #CDD6DC;
  border-radius: 0.3rem; 
  font-weight: 400;
  padding: 1.25rem;
  font-size: 0.87rem;
}
/***** MEDIA QUERIES *****/
/*extra large devices: 1200 >*/
@media(min-width: 1200px){
  .containerGlossary{
    grid-template-columns: 1fr 3fr;
  }
  .section {
    padding: 10rem 0;
  }

  #glossary .list {
    order: 0;
    width: 20rem;
  }
  #glossary .meaning {
    order: 1;
  }

  #all h2 {
    padding-left: 0rem;
  }
}

/*large devices:1023 >*/
@media(min-width: 1023px){

  .containerGlossary {
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }
  .section {
    padding: 10rem 1.5rem;
  }

  #glossary .list {
    order: 0;
    width: 20rem;
  }
  #glossary .meaning {
    order: 1;
  }

  #all h2 {
    padding-left: 0rem;
  }
}