.containerLogin{
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: safe;
    align-items: center;
    font-family: IBM Plex Sans Thai;
}

.buttonEmail{
    text-align: -webkit-center;
       
}

.buttonEntrar >a{
    width: 40%;
    padding: 4px;
    background-color: #835AFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;    
    font-family: IBM Plex Sans Thai;
    font-size: 18px;
}

.buttonSign >a{
    width: 40%;
    padding: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    text-decoration: none;
    color: #835AFD;   
    font-size: 18px;
    font-family: IBM Plex Sans Thai;
   

}

.buttonEntrar>a>img{
    margin-left: 20px;
    width: 10%;
    
}

.buttonSign>a>img{
    margin-left: 75px;
    width: 10%;
}



.novoUsuario>p{
    color: black;
}





