.body-text {
    padding: 4.3rem;
    display: flex;
    flex-wrap: wrap;
}


.left-link {
    margin: 0 15px;
    padding-left: 4rem;
}

.right-link {
    margin: 10 15px;
    padding-left: 20rem;
}


















